*.BASE
*.LOCAL
*.REMOTE
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
packages/*
.suo
*.psess
*.vsp

Schegrt/packages/*

Schegrt/WebApp/css/.sass-cache/*
Schegrt/WebApp/node_modules/*
Schegrt/WebApp/bower_components/*
Schegrt/WebApp/aspnet_client/*
*.log
Schegrt/WebApp/.idea/*
[Bb]in
[Oo]bj
[Bb]in/*
[Oo]bj/*
/Schegrt/.vs/Schegrt/v14/.suo
/Schegrt/.vs/config/*
/Schegrt/.vs/*
