bin/*
obj/*
*.BASE
*.LOCAL
*.REMOTE
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
packages/*
*.suo
*.psess
*.vsp

Schegrt/packages/*

Schegrt/WebApp/css/.sass-cache/*
Schegrt/WebApp/node_modules/*
Schegrt/WebApp/bower_components/*
Schegrt/WebApp/aspnet_client/*
*.log
Schegrt/WebApp.idea/*
Schegrt/WebApp/bin/*
Schegrt/WebApp/obj/*
