// BOOTSTRAP CORE

// Core variables and mixins
//@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/variables";
@import "../src/variables";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/mixins";

// Core CSS
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/scaffolding";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/type";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/grid";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/forms";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/buttons";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/button-groups";

@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navs";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/navbar";

// Utility classes
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/utilities";
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/responsive-utilities";

// Fonts
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/glyphicons";
@import "../../bower_components/font-awesome/scss/variables";
$fa-font-path:        "/fonts" !default;
@import "../../bower_components/font-awesome/scss/mixins";
@import "../../bower_components/font-awesome/scss/path";
@import "../../bower_components/font-awesome/scss/core";
@import "../../bower_components/font-awesome/scss/larger";
@import "../../bower_components/font-awesome/scss/fixed-width";
@import "../../bower_components/font-awesome/scss/list";
@import "../../bower_components/font-awesome/scss/bordered-pulled";
@import "../../bower_components/font-awesome/scss/animated";
@import "../../bower_components/font-awesome/scss/rotated-flipped";
@import "../../bower_components/font-awesome/scss/stacked";
@import "../../bower_components/font-awesome/scss/icons";

// EDIT IN PLACE
@import "../../bower_components/angular-xeditable/dist/css/xeditable.css";


@import "../src/main";
@import "../src/footer";
@import "../src/forms";
@import "../src/header";
@import "../src/login";
@import "../src/radio-button-group";
@import "../src/sidebar-menu";
@import "../src/typography";
/*@import "../src/boxes";
@import "../src/buttons";


@import "../src/grid";

@import "../src/list";
@import "../src/skills";
*/