@{
    ViewBag.Title = "About";
}
<div class="jumbotron container">
    <h1>Schegrt</h1>
    <p class="lead">Schegrt is hub between students seeking for internship and job offerers. Since it is pretty hard for employers to find good workers, and studenst are complining about no job or experience. Here, students get opportunity to get new experience and easier employment, and workers get steer students into right direction.</p>
</div>