<aside id="sidebar-menu" class="" ng-controller="UserController">
    <div class="sidebar-block">
        <div class="profile">
            <h4>{{company.CompanyName}}</h4>
        </div>
    </div>
    <div class="category">About</div>
    <div class="sidebar-block">
        <ul class="list-about">
            <li><i class="fa fa-map-marker"></i>{{company.Location}}</li>
            <li><i class="fa fa-link"></i> <a href="#">{{company.URL}}</a></li>
            <li><i class="fa fa-envelope"></i> <a href="#">{{company.Email}}</a></li>
        </ul>
    </div>
    <div class="category">Info</div>
    <div class="sidebar-block">
        <p>{{company.Description}}</p>
    </div>
    <div class="category">Skill set</div>
</aside>

<script src="~/js/dist/user.min.js" type="text/javascript"></script>
