<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schegrt</title>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/css/dist/style.min.css" type="text/css" rel="stylesheet" />
    <script src="/js/dist/lib.min.js" type="text/javascript"></script>
    <meta name="description" content="Apprentice - job offer matcher" />
</head>
<body ng-app="app.global" ng-cloak>
    <header class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div id="logo" >
                    <a href="/" class="navbar-brand">Schegrt</a>
                </div>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <div ng-controller="AuthController">
                        @Html.Partial("_LoginPartial")
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/Home/About">About</a></li>
                        <li><a href="/Home/Contact">Contact</a></li>
                    </ul>   
                </div>
            </div>
        </div>        
    </header>
    
    <main class="container body-content">
        @RenderBody()
        <hr />
       
    </main>
    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - Batman's friends</p>
        </div>        
    </footer>

    

    <script src="/js/dist/global.min.js" type="text/javascript"></script>
</body>
</html>
