
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Fields", "Index", "Fields")</li>
    <li>@Html.ActionLink("Providers", "Index", "Providers")</li>
    <li>@Html.ActionLink("Students", "Index", "Students")</li>
</ul>

