input.error {
	border: 1px solid red;
}

p.error {
	color: red;
}

.editable {
	border-bottom: 0 none !important;
	color: $brand-primary !important;
	text-decoration: none !important;
}

.editable-controls {
	textarea {
		display: block !important;
		margin-bottom: 8px !important;
		width: 270px !important;
	}

	.editable-buttons {
		float: right;
		margin-bottom: 8px !important;
	}
}