input.error {
	border: 1px solid red;
}

p.error {
	color: red;
}

.editable {
	border-bottom: 0 none !important;
	color: $brand-primary !important;
	text-decoration: none !important;
}

.editable-controls {
	textarea {
		display: block !important;
		margin-bottom: 8px !important;
		width: 270px !important;
	}

	.editable-buttons {
		float: right;
		margin-bottom: 8px !important;
	}
}

select.select2 {
	display: none !important;
}

.select2-container .select2-selection--single {
	border-radius: 4px 0 0 4px;
	height: 33px;

	.select2-selection__rendered {
		font-size: 14px;
	}
}