header {
	background: #26A69A;


	#logo {
		.navbar-brand {
			font-size: 3rem,
		}
	}
}

#main-nav {
	width: calc(100% - 50px);
}

.nav {
	> li {
		margin-right: 12px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.navbar-brand {
	font-weight: bold;
	padding: 0px 15px;
	height: 70px;
	line-height: 70px;
}

.navbar-header {
	width: 200px;

	/*a {
		color: $navbar-default-link-color;
	}*/
}

.navbar-nav {
	li {
		a {
			&:not(.btn) {
				font-weight: bold;
				padding: 0px 15px;
				height: 70px;
				line-height: 70px;
				font-size: 1.3rem;
				text-transform: uppercase;
				
				&:active,
				&:focus,
				&:hover {
					background-color: #22958B !important;
					/*color: #fff;*/
				}
			}
		
			&.btn {
				margin-top: 15px;
			}
		}
	}	
}