.login-form {
	background-color: #fff;
	border: 1px solid #efefef;
	border-radius: 10px;
	padding: 16px;
	width: 90%;
	position: absolute;
	top: 60px;
	right: 5%;
}

p.required {
	color: orange;
	font-size: 1.3rem;
}