[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body {
	/*margin: 0;*/
}

main {
	margin-top: 70px;
}

.overlay {
	background: rgba(0, 0, 0, 0.2);
	height: 100%;
	width: 100%;
	z-index: 1;
	position: fixed;
	top: 0;
	left: 0;
}

.recommendations {
	padding: 16px;
	width: calc(100% - 300px);
}

.no-bg {
	background: none transparent !important;
	border: 0 none !important;
}