#sidebar-menu {
	background: #212121;
	border-right: 1px solid #2e2e2e;
	margin-left: -8px;
	padding-bottom: 50px;
	overflow-y: auto;
	width: 300px;

	p {
		color: #a5a5a5;
	}

	.category {
		color: #26A69A;
		font-size: 14px;
		font-weight: normal;
		letter-spacing: normal;
		margin: 0;
		padding: 16px;
		text-transform: none;		
	}

	.list-about {
		list-style: outside none none;
		padding-left: 0;

		li {
			color: #a5a5a5;
			margin-bottom: 8px;


			&:last-child {
				margin-bottom: 0;
			}

			a {
				color: #a5a5a5 !important;
				text-decoration: none !important;
			}

			i {
				width: 20px;
				text-align: center;
				font-size: 20px;
				vertical-align: middle;
				margin-right: 10px;
			}
		}
	}

	.profile {
		h4 {
			color: #fff;
			font-size: 20px;
			margin-top: 5px;
			padding: 6px 0;
		}
	}

	.sidebar-block {
		@include clearfix();
		border: 1px solid #2e2e2e;
		border-top: 0 none;
		padding-left: 8px;
		padding-bottom: 8px;

		&.description {			
			padding-left: 12px;
			min-height: 80px;

			a {
				color: #a5a5a5 !important;
			}
		}

		.form-control {
			height: 33px;
		}
	}
}

.skill { 
	@include clearfix();
	background-color: #cecece;
	border-radius: 6px;
	height: 25px;
	position: relative;
	margin: 8px;
	width: 268px;

	&:hover {
		span {
			display: inline;
		}
	}

	span {
		display: none;
	    position: absolute;
	    top: 0;
	    right: 8px;
	    z-index: 2;
	    font-size: 18px;
	    font-weight: bold;
	    color: white;
		}

	.bg {
		background-color: #26A69A;	
		border-radius: 5px;	
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
	}

	.label {
		color: #000;
		font-size: 16px;
		font-weight: bold;
		line-height: 25px;
		text-align: center;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}